﻿body {
    max-width: 1200px;
    margin: 0 auto;
}

.banner-container {
    display: flex;
}

    .banner-container .logo {
        width: 20%;
    }

    .banner-container .banner1 {
        width: 40%;
    }

.main-bar {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background: #ccc;
}
