﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>E4 VNEXPRESS</title>
    <link href="~/Content/CSS/my_css.css" rel="stylesheet" />
</head>
<body>
    <div class="top-bar">
        <div class="main-bar">
            <div class="contact-left">
                <a>0123.888.0123 (HN)</a>
                <span>-</span>
                <a>0129.233.3555 (TP.HCM)</a>
                <button>Liên hệ quảng cáo</button>
                <button>Like</button>
                <button>Follow</button>
                <button>YouTube</button>
            </div>
            <div class="login-right">
                <button>Đăng nhập</button>
                <button>Đăng ký</button>
                <input placeholder="Tìm kiếm" />
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="banner-container">

            <img class="logo" src="~/Content/Image/Logo_Vnexpress.png" />
            <img class="banner1" src="~/Content/Image/banner-ads-1.png" />
            <img class="banner1" src="~/Content/Image/banner-ads-2.png" />
        </div>
    </div>

    @RenderBody()

</body>
</html>
