﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "HomePage";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>E4 VNEXPRESS</title>
    <link href="~/Content/CSS/my_css.css" rel="stylesheet" />
</head>
<body>
    <h2>Home Page</h2>
</body>
</html>
