﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Info";
}

<h2>Info</h2>
<div>
    <img src="~/Content/Image/thumnails.png" />
    <h1>Trump và Clinton đối đầu nảy lửa trong tranh luận trực tiếp đầu tiên</h1>
    <p>Hai ứng viên chạy đua vào chức tổng thống Mỹ Clinton và Trump tranh cãi nảy lửa trong hàng loạt vấn đề từ nhà đất, thương mại, đến cuộc chiến chống khủng bố...</p>
</div>

